<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/chat.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport">
<!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <script src="http://localhost:3001/socket.io/socket.io.js"></script>
    <script>
        var socket = io("http://localhost:3001");
     function sendMessage() {
         var msg = document.getElementById('message').val();
         if(msg) {
            socket.emit('msg', {message: msg});
         }
      }
      socket.on('newmsg', function(data) {
         if(user) {
            document.getElementById('message-container').innerHTML += '<div>' + data.message + '</div>'
         }
      })
    </script>
</head>
<body>
        
        <nav class="navbar navbar-transparent navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand brand-name" >Hey Stranger!</div>
                 </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="hover"><a href="#">Home</a></li>
                <li class="hover"><a href="#">About Us</a></li>
                <li class="hover"><a href="#">Team</a></li>

            </ul>
            </div>
         </nav>
    <div class="container-fluid"></div>
    <div align="center">
      <div class ="display" id="message-container"></div>
      <div>
          <textarea id="message" class="text"></textarea>
          <button class="send" type="button" onclick="sendMessage()">SEND</button>
      </div>
    </div>
    </div>
</div>  
</body>
</body>
</html>
