<html>
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/chat.css">   
    
</head>
<body>
    <img src="./images/birdie.jpg" alt="chat"  >
    <div class="header" >
        <p>Let's have some chit-chat!</p>
    </div>
    <div align="center">
      <div class ="display"></div>
      <div>
          <textarea class="text"></textarea>
          <button class="send" type="button">SEND</button>
      </div>
    </div>
</body>
</html>
