<html>
<head>
    <style>


    .display{
        border-style:solid;
        border-width:3px;
        width:40%;
        height: 60%;
        background-color:honeydew;
    }
    .text
    {
        border-style:solid;
        border-width:2px;
        width:36%;
        margin-left: -4.23%;
        padding: 7px ;


    }
    .send
    {
        border-style:solid;
        height:60px;
        position: absolute;
        padding: 7px;

    }
    img{
         height: 100px;

         border: 1px solid black;
    }
    body{
        background-image:url("./images/back1.jpg");
    }
    .header{
        background-color: white;
        border-radius: 50px 20px;
        border-color: black;
        border-width: 1px;
        border-style: solid;
        height: 50px;
        margin-bottom: 32px;
        margin-top: 20px;



    }
   .header{
       margin-top: -80px;
       text-align: center;

       font-variant: small-caps;
    }
       .send:hover
       {
           background-color: cadetblue;
           color: white;
       }

        </style>
</head>
<body>
    <img src="./images/birdie.jpg" alt="chat" height="50px" >
    <div class="header" >
        <p>Let's have some chit-chat!</p>
    </div>
    <div align="center">
      <div class ="display"></div>
      <div>
          <textarea class="text"></textarea>
          <button class="send" type="button">SEND</button>
      </div>
    </div>
</body>
</html>
