<!DOCTYPE html>
<html>
    <head>
        <title>homepage</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
          <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand brand-name"><img class="img-responsive" src="./images/birdie.jpg" alt="logo"></div>
                 </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="hover"><a href="#">Home</a></li>
                <li class="hover"><a href="#">About Us</a></li>


            </ul>
            </div> 
              </nav>
         
         <div class="container-fluid">
             <div class="row text-center">
                 <div class="fill" style="background-image:url('./images/chat.jpg')";>
                <div class="carousel-caption">
                    <h3 >Lets have some chit-chat</h3>
                </div> 
                </div>
            </div>
         </div>       
        
        

        
    </body>

</html>