<!DOCTYPE html>
<html>
  <head>
   <title>Stranger app</title>
   <style>
     div{
       border: 2px solid black;
       width:30%;
       position: absolute;
       top:30%;

       left:0;
       right:0;
       margin:auto;
       padding:5px;
        font-variant:small-caps;
       background-color:honeydew;

     }
     body{
       background-image: url("./images/back1.jpg");
     }

   </style>
   <body>

     <div>
        <form action="home" method="post">

            <label>Name:</label><br>
            <input type="text" name="name"><br>

            <label>Username</label><br>
            <input type="text" name="username"><br>

            <label>Email:</label><br>
            <input type="email" name="email"><br>

            <label>Password:</label><br>
            <input type="password" name="password"><br>

            <label>Gender:</label><br>
            <select>
                <option value="male">male</option>
                <option value="female">female</option>
            </select><br>
            <input type="button" value="submit">

        </form>
     </div>

   </body>
</html>
