<!DOCTYPE html>
<html>
  <head>
   <title>Stranger app</title>
   <link rel="stylesheet" type="text/css" href="stylesheets/login.css">
   <script src="http://localhost:3001/socket.io/socket.io.js"></script>
   <script>
    var socket = io("http://localhost:3001");
    
    </script>
   <body>


     <div>        <form action="login" method="post">



            <label>Username</label><br>
            <input id="error-container" type="text" name="username"><br>

            <label>Gender:</label><br>
            <select>
                <option value="male">male</option>
                <option value="female">female</option>
            </select><br>
            <input type="submit" value="Login">

        </form>
     </div>

   </body>
</html>
