div{
    border: 2px solid black;
    width:30%;
    position:absolute;
    top:30%;

    left:0;
    right:0;
    margin:auto;
    padding:5px;
     font-variant:small-caps;
    background-color:honeydew;

  }

